<!DOCTYPE html>
<html>
    <head>
        <title>Use Google!</title>
        <script scr="js/jquery.js"></script>
        <link rel="stylesheet" href="application.css">
    </head>
    <body>
        <div id="container">
            <div id="header">
                <ul>
                    <li>
                        <a href="https://workspace1-yaten.c9users.io/">
                        <img src="bluman.jpg" alt=bluman style="border-radius: 100%">
                        </a>
                    </li>
                    <li>
                        <div id="share">Share</div>
                    </li>
                    <li>
                       <a href="https://workspace1-yaten.c9users.io/">
                        <img src="noti.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="https://workspace1-yaten.c9users.io/">
                        <img src="#">
                        </a>
                    </li>
                    <li>
                        <a href="https://workspace1-yaten.c9users.io/">
                        Images
                        </a>
                    </li>
                    <li>
                        <a href="https://workspace1-yaten.c9users.io/">
                        Gmail
                        </a>
                    </li>
                    <li>
                        <a href="https://workspace1-yaten.c9users.io/">
                        +Name
                        </a>
                    </li>
                    
                </ul>
            </div>
            <img id="logo" src="google.jpg">
            <div id="searchbar">
                <form action="#" method="post">
                    <input name="search" type="search">
                </form>
                <div id="searchOptions">
                    <div class="button">Google search</div>
                    <div class="button">I'm Feeling lucky</div>
                </div>
                <div id="bottombar">
                    <ul id="bottomright">
                    <li>
                       <a href="https://workspace1-yaten.c9users.io/">
                        Settings
                        </a> 
                    </li>
                    <li>
                        <a href="https://workspace1-yaten.c9users.io/">
                        Privacy & Terms
                        </a>
                    </li>
                    </ul>
                    <ul id="bottomleft">
                        <li>
                            <a href="https://workspace1-yaten.c9users.io/">
                            About
                            </a> 
                        </li>
                        <li>
                            <a href="https://workspace1-yaten.c9users.io/">
                            Business
                            </a> 
                        </li>
                        <li>
                            <a href="https://workspace1-yaten.c9users.io/">
                            Advertising
                            </a> 
                        </li>
                    </ul>
                   
                </div>
            </div>
        </div>
            
       
        
    </body>
</html>